<%= form_with(model: @task, local: true) do |form| %>
    <% if @task.errors.any? %>
      <div id = "error_explanation">
        <h2>
        <%= pluralize(@task.errors.count, t('view.tasks.error_occurred')) %>
        </h2>
        <ul>
        <% @task.errors.full_messages.each do |masg| %>
          <li><%= masg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="task_name">
      <%= form.label :name, t('view.tasks.task_name') %>
      <%= form.text_field :name %>
    </div>
  
    <div class="task_content">
      <%= form.label :content, t('view.tasks.task_content') %>
      <%= form.text_field :content %>
    </div>
    <%= form.submit %>
  <% end %>

  <%= link_to t('view.tasks.link_to_index_task'), tasks_path %>