<h1><%= t('view.tasks.index') %></h1>

<p><%= notice %></p>

<table>
  <tr>
    <th><%= t('view.tasks.task_name') %></th>
    <th><%= t('view.tasks.task_content') %></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.content %></td>
    <td><%= link_to t('view.tasks.link_to_show_task'), task %></td>
    <td><%= link_to t('view.tasks.link_to_edit_task'), edit_task_path(task) %></td>
    <td>
      <%= link_to t('view.tasks.link_to_delete_task'), task, method: :delete,
      data: { confirm: t('view.tasks.message_of_confirm_delete_task') } %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to t('view.tasks.link_to_new_task'), new_task_path %>
